/*Universal Resets - to reset some of the browser element settings*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/*Styling the Navigation Bar*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.navlinks li{
    display: inline;
}

.navlinks{
    flex: 1;
    max-width: 20%;
    display: flex;
    justify-content: space-around;
}

li > a{
    text-decoration: none;
    color: white;
    transition: color 200ms ease-in-out;
}

a:hover{
    color: rgb(245, 245, 245);
    text-decoration: underline;
}

h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: underline;
    color: white;
}

header{
    background-color: #005E7C;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0094C6;
    color: white;
    text-transform: uppercase;
    border: solid 2px black;
    transition: all 300ms ease-in-out;
}

button:hover{
    background-color: #00BAF9;
    border: solid 2px white;
}

/*Media Queries to Make the Navigation Bar Responsive*/

@media screen and (max-width: 850px){
    nav, .navlinks{
        flex-direction: column;
        align-items: center;
        padding: 15px 0;
    }

    .navlinks li{
        padding: 10px 0;
    }
}

/*Styling the panel*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #01759B;
}

.panel{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 25pxli
}